body{
    background: #be8d29;
    font-family: "Pacifico",cursive;
}
.heading{
    color: #bae8e8;
}
.row{
    width: 100%;
}
.timer{
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}
.btn{
    color: #e3f6f5;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}
.btn:hover{
    color: #bae8e8;
    border:2px solid #bae8e8;
    transition: 0.3s ease;
}
.show_message{
    display: block;
    padding: 1rem;
    color: #272343;
    background: #e3f6f5;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}